<p [appBorderChange]="'blue'"
   [nombre]="'Pedro'"
   (elementClicked)="directiveClicked($event)"
>Listado de Empleados</p>

<app-empleado-tarjeta *ngFor="let empleado of empleados"
                      [empleado]="empleado"></app-empleado-tarjeta>

