<h1>  {{pelicula.titulo }}</h1>
<!-- https://angular.io/api/common/CurrencyPipe -->
<div>{{pelicula.precio | currency: 'EUR':'symbol': '1.2-2' | cta}}</div>

<div>
  <!--  El contenido proyectado con atributo descripcion aparece aqui -->
  <ng-content select="[descripcion]"></ng-content>
</div>
