<h1>{{nombreListado}}</h1>

<p [mat-dialog-close]="nombreListado">listado works!</p>
<p mat-dialog-close="2">listado works!</p>
<p>listado works!</p>
<p>listado works!</p>
<p>listado works!</p>
<p>listado works!</p>
<p>listado works!</p>
<p>listado works!</p>
<p>listado works!</p>
<p>listado works!</p>
<p>listado works!</p>
<p>listado works!</p>
<p>listado works!</p>
<p>listado works!</p>
