<button mat-button [color]="'warn'" disableRipple="true">Basic</button>
<button mat-stroked-button [color]="'warn'">Basic</button>
<button mat-raised-button [color]="'warn'">Basic</button>
<button mat-raised-button [color]="'warn'" disabled>Disabled</button>

<br>

<mat-divider></mat-divider>

<br>

<mat-chip-list>
  <mat-chip>
    Chip
  </mat-chip>
  <mat-chip>
    Chip 2
  </mat-chip>
  <mat-chip>
    Chip 3
  </mat-chip>
</mat-chip-list>

<br>

<mat-card style="width: 364px">
  <mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<br>

<mat-checkbox [color]="'primary'">Label Primary</mat-checkbox>
<mat-checkbox [color]="'accent'">Label Accent</mat-checkbox>
<mat-checkbox [color]="'warn'">Label Warn</mat-checkbox>

<br>

<mat-button-toggle-group>
  <mat-button-toggle>Bold</mat-button-toggle>
  <mat-button-toggle>Italic</mat-button-toggle>
  <mat-button-toggle>Underline</mat-button-toggle>
</mat-button-toggle-group>

<br>
<br>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      This is the expansion title
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>

<br>

<p [matMenuTriggerFor]="menu">Open Menu</p>
<mat-menu #menu>
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<br>

<mat-progress-bar [mode]="'determinate'" value="75"></mat-progress-bar>
<br>
<mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
<br>
<mat-progress-bar [mode]="'buffer'"></mat-progress-bar>
<br>
<mat-progress-bar [mode]="'query'"></mat-progress-bar>
<br>

<div matRipple>Ripple</div>
<br>

<div>
  <div matRipple [matRippleTrigger]="trigger">Elemento que recibe el ripple</div>
  <div #trigger>Trigger</div>
</div>

<br>

<mat-slider thumbLabel min="1" max="100" step="10" value="50"></mat-slider>

<mat-slide-toggle color="primary">Slide me!</mat-slide-toggle>
