<h1>App Component</h1>
<!--<div>-->
<!--  <a [routerLink]="['/empleados']">Empleados</a>-->
<!--  <a routerLink="/material">Material</a>-->
<!--  <a routerLink="/peliculas">Peliculas</a>-->
<!--</div>-->

<!--<router-outlet (activate)="activateRoute($event)"></router-outlet>-->

<!--<form #myForm="ngForm" (ngSubmit)="submit()">-->
<!--  <div>-->
<!--    <input name="name" [(ngModel)]="formModel.nombre" minlength="3" maxlength="8">-->
<!--  </div>-->
<!--  <div>-->
<!--    <input name="surname" [(ngModel)]="formModel.apellidos">-->
<!--  </div>-->
<!--  <div>-->
<!--    <button type="submit">Submit</button>-->
<!--  </div>-->
<!--</form>-->

<!--<div>Model value: {{formModel | json}}</div>-->
<!--<div>Form value: {{myForm.value | json}}</div>-->
<!--<div>Form Valid:  {{myForm.valid}}</div>-->
<!--<div>Form Submitted:  {{myForm.submitted}}</div>-->
<!--<div>Form status:  {{myForm.status}}</div>-->
<!--<div>Form pristine:  {{myForm.pristine}}</div>-->
<!--<div>Form dirty:  {{myForm.dirty}}</div>-->
<!--<div>Form touched:  {{myForm.touched}}</div>-->
<!--<div>Form touched:  {{myForm.controls.surname?.value}}</div>-->


<form [formGroup]="myFormGroup" (ngSubmit)="submit()">
  <div>
    <input formControlName="nombre">
    <div *ngIf="myFormGroup.get('nombre').hasError('email')">Escribe un email correcto</div>
    <div *ngIf="myFormGroup.controls.nombre.errors?.required">Escribe algo</div>
  </div>
  <div>
    <input formControlName="apellidos">
    <div>{{myFormGroup.controls.apellidos.errors | json}}</div>
  </div>
  <div>
    <input type="checkbox" formControlName="aceptoCondiciones">
    <div>Checkbox Valid:  {{myFormGroup.controls.aceptoCondiciones.valid}}</div>
  </div>
  <div>
    <button (click)="myFormGroup.reset()">Reset</button>
    <button type="submit">Submit</button>
  </div>
</form>

<div>Form value: {{myFormGroup.value | json}}</div>
<div>Form Valid:  {{myFormGroup.valid}}</div>
<div>Form status:  {{myFormGroup.status}}</div>
<div>Form pristine:  {{myFormGroup.pristine}}</div>
<div>Form dirty:  {{myFormGroup.dirty}}</div>
<div>Form touched:  {{myFormGroup.touched}}</div>
<div>Form Errors:  {{myFormGroup.errors | json}}</div>
