<h1 *ngIf="true">Listado Peliculas</h1>

<app-tarjeta-pelicula *ngFor="let pelicula of peliculas | arrayLimit : 2"
                      [pelicula]="pelicula"
                      [color]="pelicula.genero === 'miedo' ? 'blue' : 'inherit'"
                      [estaSeleccionada]="idPeliculaSeleccionada === pelicula.id"
                      (clickPelicula)="selectPelicula($event)">
  <div descripcion>{{pelicula.descripcion}}</div>
</app-tarjeta-pelicula>


