<!--<div [routerLink]="['/empleado', empleado.nombre]" [queryParams]="{esEmpleado: true, esJefe: false}"-->
<!--     [state]="{datosPorState: 2345}" fragment="footer">-->
<!--  {{empleado | formatName: false}}-->
<!--</div>-->

<div (click)="openDetail()">
  {{empleado | formatName: false}}
</div>
