
body {
  background: #ececec;
}

.text-red {
  color: red;
}

.invalid-field {
  border: 1px solid red;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
